* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100vh;
    width: 100vw;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 100%;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    height: auto;
    width: 100%;
}

#scoreboardDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameTitle {
    font-size: 32px;
}

#gameControls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerInputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerOneInput, #playerTwoInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}